@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");

:root {
  --color-primary: #047aed;
  --color-white: #fff;
  --color-gray: #333;

  --color-gray-2: #b4becb;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  color: var(--color-gray);
  font-size: 1rem;
  line-height: 1.6;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: var(--color-gray);
}

h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
}

p {
  margin-top: 10px;
  margin-left: 0;
  margin-right: 0;
}

p:not(:last-child) {
  margin-bottom: 10px;
}

img {
  width: 100%;
}

/* NAVBAR */
.logo {
  font-size: 3rem;
}

.navbar {
  background-color: var(--color-primary);
  color: var(--color-white);
  height: 7rem;
}

.navbar ul {
  display: flex;
}

.navbar a {
  font-size: 1.6rem;
  padding: 1rem;
  margin: 0 0.5rem;
  color: var(--color-white);
}

.navbar a:hover {
  border-bottom: 2px solid var(--color-white);
}

.navbar .flex {
  justify-content: space-between;
}

/* Showcase */
.showcase {
  height: 400px;
  background-color: var(--color-primary);
  color: var(--color-white);
  position: relative;
}

.showcase .grid {
  overflow: visible;
  grid-template-columns: 55% 45%;
  gap: 3rem;
}

.showcase__form {
  position: relative;
  top: 6rem;
  height: 35rem;
  width: 40rem;
  padding: 4rem;
  z-index: 100;
  justify-self: flex-end;
}

.showcase__form .form-control {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 2rem 0;
  position: relative;
}

.showcase__form input,
.showcase__form input:focus {
  font-size: 1.4rem;
  line-height: 4rem;
  height: 4rem;
  width: 100%;
  padding: 0 1rem;
  position: relative;
  outline: none;
  border: 1px solid var(--color-gray-2);
}

.showcase__form label {
  display: block;
  padding: 0 4px;
  background-color: var(--color-white);
  font-size: 1.4rem;
  line-height: 2rem;
  position: absolute;
  left: 1rem;
  top: 1rem;
  cursor: text;
  transition: top 0.3s ease-in-out;
}

.showcase__form input:hover {
}

.showcase__form input:focus {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.showcase__form input:focus ~ label,
.showcase__form input:not(:placeholder-shown):not(:focus) ~ label {
  top: -1rem;
  z-index: 100;
}

.showcase h1 {
  font-size: 4rem;
}

.showcase p {
  font-size: 1.6rem;
  margin: 2rem 0;
}

.showcase .btn {
  font-size: 1.6rem;
}

.showcase::before,
.showcase::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -7rem;
  right: 0;
  left: 0;
  background: var(--color-white);
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  transform: skewY(-2deg);
}

/* Stats */
.stats {
  padding-top: 10rem;
}

.stats--heading {
  font-size: 1.6rem;
  max-width: 50rem;
  margin: auto;
}

.stats .grid h3 {
  font-size: 3.5rem;
}
.stats .grid p {
  font-size: 2rem;
  font-weight: bold;
}
